body {
  background: #FDEDEC ;
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
.button {
  margin-bottom: 0 !important;
  margin-right: 0.5rem;
}

code {
  font-family: "Lato", sans serif;
  font-weight: 300;
}
